@charset "UTF-8";
/*Celular*/
@media screen and (max-width: 767px) {
    /* Estilos para dispositivos móveis em modo retrato */
    main > nav {
        width: 90vw;
    }

    main > nav > ul {
        justify-content: space-between;
    }

    main > .alertas {
        width: 90vw;
        background-color: rgb(255, 255, 255);
    }

    main > .alertas > .alerta_localidades > nav > ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main > .alertas > .alerta_localidades > nav > ul > select {
        text-align: center;
        font-size: 0.5em;
    }

    main > .alertas > .localidade {
        flex-direction: column;
        position: relative;
    }

    main > .alertas > .localidade > .rato, .medidor {
        width: 50vw;
        position: absolute;
    }

    main > .alertas > .localidade > .rato {
        bottom: 180px;
    }

    main > .alertas > .localidade > .medidor {
        bottom: 180px;
        right: 10px;
    }

    main > .alertas > .localidade > .local_inf {
        margin-bottom: 225px;
    }

    main > .alertas > .localidade > .local_inf > .inf_container {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
    }

    main > .alertas > .localidade > .local_inf > .inf_container > h1 {
        line-height: 1;
        margin-bottom: 15px;
    }

    main > .relatorios > .relatorios_grid {
        flex-direction: column;
        width: fit-content;
        margin: auto;
        gap: 30px;
    }

    main > .relatorios > .relatorios_grid > .relatorio_items {
        width: 80vw;
    }

    main > .relatorios > .relatorios_grid > .relatorio_items > figure > img {
        width: 100%;
    }

    main > .about_us > .about {
        width: 90vw;
        margin: auto;
    }

    main > .about_us > figure > img {
        width: 200px;
        right: 1em;
        bottom: -155px;
    }

    main > .about_us > .about > .text_about {
        font-size: 1em;
        margin: 20px 40px 20px 10px;
    }

    footer > .contact {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    footer > .contact > .h1_contact {
        width: 100%;
        font-size: 1.2em;
    }

}

@media screen and (max-width: 767px) and (orientation: landscape) {
    /* Estilos para dispositivos móveis em modo paisagem */
}



/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets em modo retrato */
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para tablets em modo paisagem */
}



/*Desktop*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para laptops ou desktops com telas de até 1280px de largura */
}

@media screen and (min-width: 1281px) {
    /* Estilos para desktops maiores com largura de tela maior que 1280px */
}




/*TVs*/
@media screen and (min-width: 1600px) {
    /* Estilos para telas ultra-large (ex: monitores de 2k/4k) */
}
