@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg,#AEE4E1,#EBE6E2);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header > nav {
    width: 70vw;
    margin: 0 auto;
}

header > nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    margin-top: 24px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #FF904D;
    font-weight: bolder;
    transition: all .25s;
}

header > nav > ul > li > a:hover {
    background-color: #FF904D;
    color: white;
    padding: 6px 10px;
    border-radius: 15px;
}

header > nav > ul > li > a:active {
    background-color: #ae6435;
}

main > .alertas {
    width: 70vw;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

main .rato, .medidor {
    position: relative;
}

main .rato img {
    position: absolute;
    width: 60%;
    left: 40px;
}

main .medidor img {
    position: absolute;
    width: 70%;
    left: 30px;
    top: 20px;
}

main > .alertas > .alerta_localidades {
    padding: 40px 50px;
    color: #FF904D;
    font-size: 2em;
}

main > .alertas > .alerta_localidades > h1 {
    margin-bottom: 20px;
}

main > .alertas > .alerta_localidades > nav {
    margin-top: 8px;
}

main > .alertas > .alerta_localidades > nav > ul > select {
    background-color: #FF904D;
    color: white;
    padding: 12px 13px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    transition: all .25s;
}

main > .alertas > .alerta_localidades > nav > ul > select:focus {
    background-color: #ae6435;
    border-radius: 18px 18px 0px 0px;
}

main > .alertas > .alerta_localidades > nav > ul > select > option {
    border-radius: 20px;
}

main > .alertas > .localidade {
    display: flex;
    padding: 10px;
}

main > .alertas > .localidade > .rato, .medidor, .local_inf {
    flex: 1;
}

main > .alertas > .localidade > .local_inf {
    flex: 1.5;
}

main > .alertas > .localidade > .local_inf > .inf_container {
    line-height: 1.7;
}

main > .alertas > .localidade > .local_inf > .inf_container > h1 {
    color: #fdae7c;
}

main > .alertas > .localidade > .local_inf > .inf_container > .local::before {
    content: url(../svg/location_on_25dp_000000_FILL0_wght400_GRAD0_opsz24.svg);
    vertical-align: middle;
    margin-right: 5px;
}

main > .alertas > .localidade > .local_inf > .inf_container > .quant::before {
    content: url(../svg/contagem.svg);
    vertical-align: middle;
    margin-right: 5px;
}

main > .alertas > .localidade > .local_inf > .inf_container > .prag::before {
    content: url(../svg/ratoorange.png);
    vertical-align: middle;
    margin-right: 5px;
}

main > .alertas > .localidade > .local_inf > .inf_container > .hora::before {
    content: url(../svg/schedule_25dp_000000_FILL0_wght400_GRAD0_opsz24.svg);
    vertical-align: middle;
    margin-right: 5px;
}

main > .alertas > .localidade > .local_inf > .inf_container > h1 {
    font-weight: 500;
    font-size: 2.4em;
}

main > .alertas > .localidade > .local_inf > .inf_container > p > span {
    color: #FF904D;
    font-weight: bold;
}

main > .alertas > .localidade > .local_inf > .inf_container > p > .inf {
    color: #000000d9;
}

main > .relatorios > h1 {
    margin: 40px auto;
    color: #ffffff;
    background-color: #FF904D;
    width: fit-content;
    padding: 15px 30px 9px 30px;
    border-radius: 35px;
    font-size: 2em;
}

main > .relatorios > h1::before {
    content: url(../svg/receipt_long_25dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    vertical-align: middle;
    margin-right: 5px;
}

main > .relatorios > .relatorios_grid {
    display: flex;
    justify-content: space-evenly;
}

main > .relatorios > .relatorios_grid > .relatorio_items {
    border-radius: 0px 60px 0px 50px;
    background-color: rgb(255, 255, 255);
    width: 25%;
    transition: all .25s, transform .3s ease, box-shadow .3s ease;
    text-decoration: none;
    color: black;
}

main > .relatorios > .relatorios_grid > .relatorio_items:hover {
    transform: translateZ(50px) scale(1.05); 
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.200);
}

main > .relatorios > .relatorios_grid > .item1, .item2, .item3 {
    height: fit-content;
}

main > .relatorios > .relatorios_grid > .relatorio_items > .text_relatorio {
    margin: 25px;
}

main > .relatorios > .relatorios_grid > .relatorio_items > .text_relatorio > h1 {
    color: #FF904D;
    text-align: center;
    width: 95%;
    margin-bottom: 12.5px;
}

main > .relatorios > .relatorios_grid > .relatorio_items > .text_relatorio > p {
    line-height: 1.5;
    text-align: center;
}

main > .relatorios > .relatorios_grid > .relatorio_items > figure {
    margin: 25px;
    border-top-right-radius: 50px;
    overflow: hidden;
    height: 300px;
}

main > .relatorios > .relatorios_grid > .relatorio_items > figure > img {
    width: 100%;
    height: 100%;
}

main > .relatorios > .filtros {
    display: block;
    margin: 30px auto;
    border: none;
    padding: 10px 56px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.3em;
    background-color: transparent;
    color: #FF904D;
    border: 2px solid #FF904D;
    transition: all .25s;
}

main > .relatorios > .filtros:hover {
    color: white;
    background-color: #FF904D;
    cursor: pointer;
}

main > .relatorios > .filtros:active {
    background-color: #ae6435;
    border-color: #ae6435;
}

main > .about_us > .about {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 80px;
}

main > .about_us > .about > figure {
    margin: 20px 0px 20px 20px;
}

main > .about_us > .about > .text_about {
    font-size: 1.45em;
    line-height: 1.4;
    text-align: justify;
    margin: 20px 80px 20px 10px;
}

main > .about_us > .about > .text_about > h1 {
    font-size: 1.6em;
    margin-bottom: 12px;
}

main > .about_us > figure {
    position: relative;
    text-align: center;
}

main > .about_us > figure > img {
    position: absolute;
    margin-top: -13em;
    margin-left: 11em;
    border-top-right-radius: 60px;
}

footer {
    display: flex;
    justify-content: center;
}

footer > .contact {
    display: flex;
    background-color: #ffffff;
    margin-top: 10em;
    margin-bottom: 4em;
    border-radius: 20px;
    width: 80vw;
    padding: 40px 0px;
}

footer > .contact > .email, .social_medias {
    flex: 1;
    flex-shrink: 1;
}

footer > .contact > .h1_contact {
    width: 40%;
    text-align: center;
    color: #FF904D;
    font-size: 1.5em;
}

footer > .contact > .h1_contact > h1 {
    width: 50%;
    margin: auto;
}

footer > .contact > .email > h2 {
    margin-bottom: 20px;
}

footer > .contact > .email > p > a {
    color: black;
    text-decoration: none;
    color: #610C04;
    transition: all .25s;
}

footer > .contact > .email > p > a:hover {
    background-color: #610C04;
    border-radius: 15px;
    padding: 6px 6px 4px 8px;
    color: white;
}

footer > .contact > .email > p > a:active {
    color: #ff1500;
}

footer > .contact > .email > p > a::before {
    content: url(../svg/email-1573-svgrepo-com.svg);
    vertical-align: middle;
    margin-right: 5px;
}

footer > .contact > .email > p > a:hover::before {
    content: url(../svg/email-1573-svgrepo-com\ copy.svg);
}

footer > .contact > .email > p > a:active::before {
    content: url(../svg/email-1573-svgrepo-com\ copy\ 2.svg);
}

footer > .contact > .social_medias > h2 {
    margin-bottom: 20px;
}

footer > .contact > .social_medias > ul {
    list-style-type: none;
}

footer > .contact > .social_medias > ul > li {
    margin-bottom: 4px;
}

footer > .contact > .social_medias > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    transition: all .25s;
}

footer > .contact > .social_medias > ul > li > .face {
    color: #1877f2;
}

footer > .contact > .social_medias > ul > li > .face::before {
    content: url(../svg/icons8-facebook-novo.svg);
    vertical-align: middle;
    margin-right: 4px;
}

footer > .contact > .social_medias > ul > li > .face:hover {
    background-color: #1877f2;
    border-radius: 15px;
    padding: 6px 6px 4px 6px;
    color: white;
}

footer > .contact > .social_medias > ul > li > .face:active {
    color: #0e4184;
}

footer > .contact > .social_medias > ul > li > .face:hover::before {
    content: url(../svg/icons8-facebook-novo\ -\ Copia.svg);
}

footer > .contact > .social_medias > ul > li > .face:active::before {
    content: url(../svg/icons8-facebook-novo\ -\ Copia\ copy.svg);
}

footer > .contact > .social_medias > ul > li > .twit {
    color: #030303;
}

footer > .contact > .social_medias > ul > li > .twit::before {
    content: url(../svg/icons8-x.svg);
    vertical-align: middle;
    margin-right: 4px;
}


footer > .contact > .social_medias > ul > li > .twit:hover {
    background-color: black;
    border-radius: 15px;
    padding: 6px 6px 4px 6px;
    color: white;
}

footer > .contact > .social_medias > ul > li > .twit:active {
    color: #767676;
}

footer > .contact > .social_medias > ul > li > .twit:hover::before {
    content: url(../svg/icons8-xhover.svg);
}

footer > .contact > .social_medias > ul > li > .twit:active::before {
    content: url(../svg/icons8-xhover\ copy.svg);
}

footer > .contact > .social_medias > ul > li > .inst {
    color: #ab539e;
}

footer > .contact > .social_medias > ul > li > .inst::before {
    content: url(../svg/icons8-instagram.svg);
    vertical-align: middle;
    margin-right: 4px;
}

footer > .contact > .social_medias > ul > li > .inst:hover {
    background-color: #ab539e;
    border-radius: 15px;
    padding: 6px 6px 4px 6px;
    color: white;
}

footer > .contact > .social_medias > ul > li > .inst:active {
    color: #582a51;
}

footer > .contact > .social_medias > ul > li > .inst:hover::before {
    content: url(../svg/icons8-instagram\ -\ Copia.svg);
}

footer > .contact > .social_medias > ul > li > .inst:active::before {
    content: url(../svg/icons8-instagram\ -\ Copia\ copy.svg);
}

